.photo-grid {
  max-width: calc(100% - 96px);
  margin: 92px auto;
}

@media all and (max-width: 1023px) {
  .photo-grid {
    max-width: calc(100% - 48px);
    margin-top: 88px;
    margin-bottom: 88px;
  }
}

@media all and (max-width: 767px) {
  .photo-grid {
    max-width: calc(100% - 32px);
    margin-top: 64px;
    margin-bottom: 64px;
  }
}
