.place__paragraphs {
  grid-area: paragraphs;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 26px;
}

@media all and (max-width: 1023px) {
  .place__paragraphs {
    gap: 25px;
  }
}

@media all and (max-width: 767px) {
  .place__paragraphs {
    margin-left: auto;
    margin-right: auto;
  }
}
