.place__paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 29px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

@media all and (max-width: 1023px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
    font-size: 16px;
  }
}

@media all and (max-width: 767px) {
  .place__paragraph {
    margin-left: 16px;
    margin-right: 18px;
  }
}
