.place__url-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 2px;
  color: #aaa;
  margin: 0;
}
